---
import Container from '@/components/Container.astro';
import RootLayout from '@/layouts/RootLayout.astro';
import { getCollection } from 'astro:content';
import { formatDate, dateToISO } from '@/lib/date';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

let { entry } = Astro.props;
let { Content } = await entry.render();
let note = entry.data;
let published_time = dateToISO(note.publishedAt);
---

<RootLayout
  seo={{
    title: `${note.title} - rimzzlabs notes`,
    description: note.description,
    keywords: note.keywords,
    article: { published_time, tags: note.keywords },
  }}
>
  <header>
    <Container className='border-b border-border pb-4 pt-5'>
      <h1 transition:name='title' class='text-title text-balance pb-4'>
        {note.title}
      </h1>
      <div class='inline-flex items-center gap-x-2 text-sm font-medium'>
        <span>Published</span>
        <time datetime={dateToISO(note.publishedAt)}>{formatDate(note.publishedAt)}</time>
      </div>
    </Container>
  </header>

  <article class='prose mx-auto w-11/12 max-w-2xl pt-6 dark:prose-invert'>
    <Content />
  </article>
</RootLayout>
