---
import "@/styles/global.css";
import rubikFont from "@fontsource-variable/rubik/files/rubik-latin-ext-wght-normal.woff2?url";
import Footer from "./footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={rubikFont}
    />
    <slot name="metadata" />
  </head>

  <body>
    <main id="main" class="flex-1 shrink-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
