---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {}

let { class: className, ...props } = Astro.props;
---

<section {...props} class={cn("max-lg:w-[87%] mx-auto max-w-3xl", className)}>
  <slot />
</section>
