---
import Layout from '@/modules/common/layout.astro'
import Hero from '@/modules/blog/hero.astro'
import Footer from '@/modules/common/footer.astro'

let title = 'Blog - rimzzlabs.com'
let description = 'Read my personal blog.'
---

<Layout title={title} description={description}>
  <main>
    <Hero />
  </main>
  <Footer />
</Layout>
