@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  ::selection {
    @apply bg-primary-200 text-theme-900 dark:bg-primary-400 dark:text-white;
  }
  h1 {
    @apply text-3xl font-bold text-theme-800 dark:text-theme-100 md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold text-theme-800 dark:text-theme-100 md:text-3xl;
  }

  h3 {
    @apply text-lg font-bold text-theme-800 dark:text-theme-100 md:text-xl;
  }

  h4 {
    @apply font-bold text-theme-800 dark:text-theme-100 md:text-lg;
  }

  h5 {
    @apply font-bold text-theme-800 dark:text-theme-100 md:text-lg;
  }

  body {
    @apply bg-theme-50 font-primary text-theme-700 antialiased dark:bg-theme-900 dark:text-theme-200;
  }

  html.dark {
    @apply brightness-[0.98];
  }

  :is(a, button) {
    @apply outline-none;
  }

  :is(a, button) {
    @apply outline-none ring-primary-500 ring-offset-1 ring-offset-theme-50
    transition-all focus-visible:ring dark:ring-primary-400 dark:ring-offset-theme-900;
  }

  .accessible {
    @apply ring-primary-400 transition-all duration-150 hover:ring dark:ring-theme-600;
  }
  .layout {
    @apply mx-auto w-[86%] max-w-2xl md:w-full;
  }
  .content-auto {
    content-visibility: auto;
  }

  .pattern {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(135deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(225deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(45deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(315deg, rgba(59, 30, 246, 1) 25%, #ffffff 25%);
    background-position: 19px 0, 19px 0, 0 0, 0 0;
    background-size: 38px 38px;
    background-repeat: repeat;
  }

  .dark .pattern {
    background-image: linear-gradient(135deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(225deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(45deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(315deg, rgba(59, 30, 246, 1) 25%, rgb(30 58 138) 25%);
  }
}
