@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-primary-200 text-theme-900 dark:bg-primary-400 dark:text-white;
  }
  h1 {
    @apply text-3xl font-bold text-theme-800 dark:text-theme-100 md:text-4xl;
  }

  h2 {
    @apply text-2xl font-bold text-theme-800 dark:text-theme-100 md:text-3xl;
  }

  h3 {
    @apply text-xl font-bold text-theme-800 dark:text-theme-100 md:text-2xl;
  }

  h4 {
    @apply text-lg font-bold text-theme-800 dark:text-theme-100 md:text-xl;
  }

  body {
    @apply bg-theme-50 font-primary text-theme-700 antialiased dark:bg-theme-900 dark:text-theme-200;
  }

  :is(a, button) {
    @apply outline-none;
  }

  :is(input, a, button) {
    @apply outline-none ring-primary-500 ring-offset-1 ring-offset-theme-50
    transition-all focus-visible:ring dark:ring-primary-400 dark:ring-offset-theme-900;
  }

  .accessible {
    @apply ring-primary-400 transition-all duration-150 hover:ring dark:ring-theme-600;
  }
}

@layer utilities {
  .layout {
    @apply mx-auto w-[86%] max-w-2xl md:w-full;
  }
}
