@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-title {
    @apply text-4xl font-bold;
  }

  .text-sub-title {
    @apply text-2xl font-bold;
  }
}

@layer base {
  :root {
    --background: 20 5.9% 90%;
    --foreground: 12 6.5% 15.1%;
    --primary: 17.5 88.3% 40.4%;
    --primary-foreground: 20 14% 4%;
    --border: 24 5% 64%;
    --muted: 24 5.4% 63.9%;
    --muted-foreground: 33.3 5.5% 32.4%;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 60 4.8% 95.9%;
    --border: 30 6.3% 25.1%;
    --muted: 33.3 5.5% 32.4%;
    --muted-foreground: 24 5.7% 82.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-serif text-foreground antialiased;
  }

  .prose :is(p, h1, h2, h3, h4, h5, h6, a, em, strong) {
    @apply text-foreground;
  }

  .prose blockquote {
    @apply border-border;
  }

  :is(a, button) {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-primary focus-visible:transition;
  }
}
