@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :is(h1, h2, h3, h4, h5, h6) {
    @apply text-typo-head dark:text-typo-h-dark font-bold;
  }
  h1 {
    @apply text-3xl md:text-4xl 3xl:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl 3xl:text-4xl;
  }
  h3 {
    @apply text-xl md:text-2xl 3xl:text-3xl;
  }
  h4 {
    @apply md:text-lg;
  }
  h5 {
    @apply md:text-lg;
  }
  p {
    @apply text-typo-paragraph dark:text-typo-p-dark;
  }
  body {
    @apply antialiased bg-base-50 dark:bg-base-950 pt-16 font-primary motion-safe:transition-[background-color,_color];
    @apply text-base-800 dark:text-base-300;
  }

  html.dark {
    @apply brightness-[.91];
  }

  .layout {
    @apply mx-auto max-w-2xl w-[86%];
  }

  :is(a, button) {
    @apply outline-none;
  }

  :is(a, button) {
    @apply outline-none ring-primary-500 ring-offset-base-50
    motion-safe:transition focus-visible:ring focus-visible:ring-offset-4 dark:ring-primary-700 dark:ring-offset-base-950;
  }

  h1.title {
    @apply text-6xl md:text-8xl 3xl:text-9xl text-transparent bg-clip-text pb-2.5;
    @apply bg-gradient-to-r from-primary-500 to-secondary-500;
  }

  .pattern {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(135deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(225deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(45deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(315deg, rgba(59, 30, 246, 1) 25%, #ffffff 25%);
    background-position: 19px 0, 19px 0, 0 0, 0 0;
    background-size: 38px 38px;
    background-repeat: repeat;
  }
  .dark .pattern {
    background-color: #02050d;
    opacity: 1;
    background-image: linear-gradient(135deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(225deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(45deg, rgba(59, 30, 246, 1) 25%, transparent 25%),
      linear-gradient(315deg, rgba(59, 30, 246, 1) 25%, #02050d 25%);
    background-position: 19px 0, 19px 0, 0 0, 0 0;
    background-size: 38px 38px;
    background-repeat: repeat;
  }
}
