@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :is(h1, h2, h3, h4, h5, h6) {
    @apply text-typo-head dark:text-typo-h-dark font-bold;
  }
  h1 {
    @apply text-3xl md:text-4xl 3xl:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl 3xl:text-4xl;
  }
  h3 {
    @apply text-xl md:text-2xl 3xl:text-3xl;
  }
  h4 {
    @apply md:text-lg 3xl:text-xl;
  }
  h5 {
    @apply md:text-lg 3xl:text-xl;
  }
  p {
    @apply text-typo-paragraph dark:text-typo-p-dark 3xl:text-lg;
  }
  body {
    @apply antialiased bg-white dark:bg-base-900 pt-16 font-primary motion-safe:transition-[background-color,color];
    @apply text-base-800 dark:text-base-300;
  }

  div[data-rehype-pretty-code-fragment] {
    @apply bg-zinc-800 rounded-md relative my-[0.25em];
  }

  div[data-rehype-pretty-code-fragment] pre {
    @apply bg-zinc-800 py-[0.7em] rounded-md overflow-x-auto;
  }

  div[data-rehype-pretty-code-title] {
    @apply flex items-center w-full h-10;
    @apply text-xs italic border px-4 rounded-t-md;
    @apply font-firaCode supports-[font-variation-settings:normal]:font-firaCodeVF;
    @apply bg-base-900 border-base-800 text-base-300;
  }

  code[data-line-numbers] {
    counter-reset: lineNumber;
  }

  span[data-line] {
    @apply border-l-4 border-l-transparent;
    @apply px-[0.475em] py-[0.13em] inline-block w-full last-of-type:mb-unset first-of-type:mt-unset;
  }

  code[data-line-numbers] span[data-line]::before {
    @apply content-[counter(lineNumber)] inline-block text-right mr-3 w-5 text-base-500;
    counter-increment: lineNumber;
  }

  span[data-highlighted-line] {
    @apply bg-primary-500/[0.075] border-l-primary-500;
  }

  code {
    @apply !font-firaCode supports-[font-variation-settings:normal]:!font-firaCodeVF;
  }

  hr {
    @apply border-base-300 dark:border-base-800;
  }

  html.dark {
    @apply brightness-[.9];
  }

  .layout {
    @apply mx-auto max-w-2xl 3xl:max-w-4xl w-[86%];
  }

  :is(a, button) {
    @apply outline-none ring-primary-500 ring-offset-base-50;
    @apply motion-safe:transition focus-visible:ring focus-visible:ring-offset-1;
    @apply dark:ring-primary-700 dark:ring-offset-base-950;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }

  h1.title {
    @apply text-5xl/tight md:text-5xl/tight lg:text-6xl/normal 3xl:text-7xl/normal;
  }
}
