---
import { ShowcaseProjects } from "./showcase-projects";
---

<section class="container-fluid py-10">
  <h2 class="text-3xl text-balance font-bold sm:text-4xl lg:text-5xl">
    Project Showcase <span class="sr-only">I&apos;ve worked on</span>
  </h2>

  <div class="relative">
    <ShowcaseProjects client:visible />
  </div>
</section>
