---
import SharedLayout from '@/modules/layout/shared.astro';
import Hero from '@/modules/writings/hero.astro';
import Footer from '@/modules/common/footer.astro';
import Navbar from '@/modules/common/navbar.astro';
import AllWriting from '@/modules/writings/all-writing.astro';

let title = 'Writings - rimzzlabs.com';
let description = 'Read my personal Writing.';
---

<SharedLayout title={title} description={description}>
  <Navbar />
  <main>
    <Hero />
    <AllWriting />
  </main>
  <Footer />
</SharedLayout>
