---
import { RetroGrid } from "@/components/ui/retro-grid";
---

<header class="relative h-[calc(100svh-14rem)] py-16 sm:py-28 lg:py-32">
  <div class="relative z-[1] container-fluid">
    <h1
      class="text-4xl leading-none sm:text-5xl lg:text-6xl 2xl:text-7xl font-bold text-balance"
    >
      Now — What's Happening? <span class="sr-only"
        >See what Rizki Citra or rimzzlabs is recently up to</span
      >
    </h1>

    <p class="lg:text-lg font-medium max-w-4xl py-4 lg:py-6">
      Most websites have an &quot;about&quot; link that leads to a page sharing
      background information about the person or business, often called an
      &quot;about page.&quot; Similarly, there's usually a &quot;contact&quot;
      link directing visitors to details on how to reach out, known as a
      &quot;contact page.&quot; Likewise, some websites feature a
      &quot;now&quot; link, which takes you to a page describing what the person
      is currently focusing on in their life, and this is simply referred to as
      a &quot;now page.&quot;
    </p>
  </div>

  <RetroGrid client:load />
</header>
