---
import Seo from "@/components/seo.astro";
import { ButtonLink } from "@/components/ui/button";
import { RetroGrid } from "@/components/ui/retro-grid";
import RootLayout from "@/layouts/root-layout.astro";
import { CornerDownLeftIcon } from "lucide-react";
---

<RootLayout>
  <Seo
    slot="metadata"
    title="404 Not Found"
    description="The page you are looking for does not exist."
  />

  <header class="relative h-[calc(100svh-14rem)] grid place-items-center">
    <div class="relative z-[1] justify-center container-fluid text-center">
      <h1
        class="text-4xl leading-none sm:text-5xl lg:text-6xl 2xl:text-7xl font-bold text-balance"
      >
        404 Not Found
      </h1>

      <p class="lg:text-lg font-medium max-w-4xl mx-auto py-4 lg:py-6">
        The page you are looking for does not exist.
      </p>

      <ButtonLink href="/" variant="secondary" className="group">
        Back Home <CornerDownLeftIcon />
      </ButtonLink>
    </div>

    <RetroGrid client:load />
  </header>
</RootLayout>
