---
import SharedLayout from '@/layouts/shared.astro';
import BlogList from '@/modules/blog/blog-list.astro';
import Hero from '@/modules/blog/hero.astro';

let title = 'Blog - rimzzlabs.com';
let description =
  'I write honest posts about anything I find interesting, most of it about programming on the web. All my blog posts are my own and do not affiliated with any organization.';
let keywords = [
  'rizki citra blog',
  'rizki citra personal blog',
  'rizki blog',
  'rizki maulana citra blog',
  'tech blog',
];
---

<SharedLayout title={title} description={description} keywords={keywords}>
  <main>
    <Hero />
    <BlogList />
  </main>
</SharedLayout>
