---
import Seo from "@/components/seo.astro";
import RootLayout from "@/layouts/root-layout.astro";
import ToolsMarquee from "@/modules/home/tools-marquee.astro";
import Hero from "@/modules/home/hero.astro";
import Journey from "@/modules/home/journey.astro";
import BentoLinks from "@/components/bento-links.astro";
---

<RootLayout>
  <Seo
    slot="metadata"
    title="Rizki Citra, Frontend Software Engineer"
    description="A passionate, and dedicated Frontend Software Engineer. I create intuitive, smooth, and visually appealing user interfaces that engage and delight users."
  />

  <main>
    <Hero />
    <ToolsMarquee />
    <Journey />
    <BentoLinks />
  </main>
</RootLayout>
