---
import Hero from '@/modules/home/hero.astro';
import Introduction from '@/modules/home/introduction.astro';

import { TracingBeam } from '@/components/ui/tracing-beam';
import TodaySection from '@/modules/home/today-section.astro';
import SharedLayout from '@/layouts/shared.astro';
import MotivateSection from '@/modules/home/motivate-section.astro';
import SoftwareEngineeringSection from '@/modules/home/softeng-section.astro';
import LanguageSection from '@/modules/home/language-section.astro';
---

<SharedLayout>
  <TracingBeam client:load>
    <main>
      <Hero />
      <Introduction />
      <SoftwareEngineeringSection />
      <LanguageSection />
      <MotivateSection />
      <TodaySection />
    </main>
  </TracingBeam>
</SharedLayout>
