---
import Hero from '@/modules/home/hero.astro';
import Introduction from '@/modules/home/introduction.astro';

import { TracingBeam } from '@/components/ui/tracing-beam';
import NowSection from '@/modules/home/now-section.astro';
import SharedLayout from '@/layouts/shared.astro';
import MotivateSection from '@/modules/home/motivate-section.astro';
import SoftwareEngineeringSection from '@/modules/home/softeng-section.astro';
import LearnSection from '@/modules/home/learn-section.astro';
import LanguageSection from '@/modules/home/language-section.astro';
import ExperienceSection from '@/modules/home/experience-section.astro';
---

<SharedLayout>
  <TracingBeam client:load>
    <main>
      <Hero />
      <Introduction />
      <SoftwareEngineeringSection />
      <MotivateSection />
      <LearnSection />
      <LanguageSection />
      <ExperienceSection />
      <NowSection />
    </main>
  </TracingBeam>
</SharedLayout>
