---
import Seo from "@/components/seo.astro";
import RootLayout from "@/layouts/root-layout.astro";
import ToolsMarquee from "@/modules/home/tools-marquee.astro";
import Hero from "@/components/hero.astro";
import Journey from "@/modules/home/journey.astro";
import BentoLinks from "@/components/bento-links.astro";
import { Delightful } from "@/components/delightful";
import info from "@/configs/info.json";
import { Button, ButtonLink } from "@/components/ui/button";
import { ArrowRight, Sparkles } from "lucide-react";
import { HiringFormButton } from "@/components/hiring-form/hiring-form-button";

let title = "Rizki Citra, Frontend Software Engineer";
let description =
  "Software engineering lets me create impactful, innovative solutions that align with my values and improve lives. It's structured, rewarding, and always evolving—keeping things exciting and full of growth.";
---

<RootLayout>
  <Seo slot="metadata" {title} {description} />

  <main>
    <Hero {description}>
      <Fragment slot="title">
        <span class="sr-only">{title}</span> Passionate Frontend Software Engineer.
        Crafting <Delightful client:load />
        User Interfaces.
      </Fragment>

      <div class="inline-flex gap-2">
        {info.isAvailableForWork && <HiringFormButton client:load />}

        <ButtonLink href="/now" variant="outline" className="group lg:h-10">
          See what&apos;s new <ArrowRight
            className="group-hover:translate-x-1 transition"
          />
        </ButtonLink>
      </div>
    </Hero>

    <ToolsMarquee />
    <Journey />
    <BentoLinks />
  </main>
</RootLayout>
