---
import Hero from '@/modules/home/hero.astro';
import Introduction from '@/modules/home/introduction.astro';
import JourneyPartOne from '@/modules/home/journey-part-one.astro';
import JourneyPartTwo from '@/modules/home/journey-part-two.astro';
import JourneyPartThree from '@/modules/home/journey-part-three.astro';
import JourneyPartFour from '@/modules/home/journey-part-four.astro';

import { WavyBackground } from '@/components/ui/wavy-background';
import { TracingBeam } from '@/components/ui/tracing-beam';
import JourneyPartZero from '@/modules/home/journey-part-zero.astro';
import JourneyContinues from '@/modules/home/journey-continues.astro';
import { JourneyContinuesWords } from '@/modules/home/journey-continues-words';
import SharedLayout from '@/layouts/shared.astro';
---

<SharedLayout>
  <TracingBeam client:load>
    <main>
      <Hero />
      <Introduction />
      <JourneyPartZero />
      <JourneyPartOne />
      <JourneyPartTwo />
      <JourneyPartThree />
      <JourneyPartFour />
      <WavyBackground
        containerClassName='h-44 overflow-x-clip'
        canvasHeight={176}
        waveWidth={20}
        client:visible
      />
      <JourneyContinues />
      <JourneyContinuesWords client:visible />
    </main>
  </TracingBeam>
</SharedLayout>
