---
import BentoLinks from "@/components/bento-links.astro";
import Seo from "@/components/seo.astro";
import RootLayout from "@/layouts/root-layout.astro";
import Hero from "@/modules/now/hero.astro";
import Recently from "@/modules/now/recently.astro";
---

<RootLayout>
  <Seo
    slot="metadata"
    title="See What Rizki Citra is Recently up to"
    description="See what I is recently up to by visiting my now page"
  />

  <main>
    <Hero />
    <Recently />
    <BentoLinks />
  </main>
</RootLayout>
