---
import { BackgroundBeams } from '@/components/ui/background-beams';
---

<section
  class='md:h-screen max-sm:py-24 max-md:py-20 bg-neutral-950 relative flex items-center justify-center'
>
  <div class='w-11/12 max-w-3xl mx-auto relative z-10 text-center'>
    <h1
      class='text-6xl pb-2 md:pb-4 lg:pb-6 lg:text-8xl 2xl:text-9xl font-bold text-transparent bg-clip-text bg-gradient-to-b from-neutral-100 to-neutral-800'
    >
      <span class='sr-only'>Rizki Maulana Citra - rimzzzlabs - </span>/blog
    </h1>
    <p class='font-medium text-balance text-neutral-500 pb-4'>
      I write honest posts about anything I find interesting, most of it about programming on the
      web. All my blog posts are my own and do not affiliated with any organization.
    </p>
  </div>

  <BackgroundBeams client:load />
</section>
