---
import Section from "../shared/section.astro";
import { JourneyTimeline } from "./journey-timeline";
---

<Section class="py-10">
  <h2 class="text-pretty text-2xl font-bold pb-4 tracking-tight">
    <span class="sr-only">My Journey in Software Engineering - </span>Archive
  </h2>
  <p class="text-balance pb-4">
    I started my software engineering journey in 2019, and ever since, I've been
    passionate about creating meaningful work. But there's more to recall.
  </p>

  <JourneyTimeline client:visible />
</Section>
