---
import { ButtonLink } from "../ui/button";
import { NavbarTheme } from "./navbar-theme";
import { NavbarSheet } from "./navbar-sheet";
import { NAVIGATIONS } from "../navigations";
---

<nav class="inline-flex items-center gap-2">
  {
    NAVIGATIONS.map((navItem) => (
      <ButtonLink
        variant="ghost"
        href={navItem.pathname}
        className="max-sm:hidden"
        title={`Navigate to page ${navItem.label}`}
      >
        {navItem.label}
      </ButtonLink>
    ))
  }
  <NavbarTheme client:load />
  <NavbarSheet client:idle />
</nav>
