---
import { getImage, Image } from "astro:assets";
import Logo from "@/assets/logo.svg";
import NavbarList from "./navbar-list.astro";

let image = await getImage({
  src: Logo,
  format: "webp",
  width: 128,
  height: 128,
});
---

<header class="sticky top-0 inset-x-0 z-50 bg-background">
  <div class="container-fluid h-16 flex items-center justify-between">
    <a href="/" title="Home page" aria-label="Home page">
      <Image
        src={image.options.src as string}
        width={image.attributes.width}
        height={image.attributes.height}
        alt="rimzzlabs"
        title="rimzzlabs"
        class="size-8"
      />
      <span class="sr-only">rimzzlabs</span>
    </a>

    <NavbarList />
  </div>
</header>
