---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import nowPage from "@/assets/now-page.webp";
import { Image } from "astro:assets";

let cardItems = [
  {
    title: "See what's new",
    description: "See what I is recently up to",
    image: nowPage,
  },
  {
    title: "Work Experience",
    description: "See full working experience I have",
    image: nowPage,
  },
  {
    title: "Read My Notes",
    description: "Read my notes about what I've learned",
    image: nowPage,
  },
  {
    title: "Download Resume",
    description: "Interested in my resume? view my resume",
    image: nowPage,
  },
];
---

<section class="container-fluid py-10">
  <h2 class="text-3xl pb-10 text-balance font-bold sm:text-4xl lg:text-5xl">
    Checkout Other Pages
  </h2>
  <div
    class="grid auto-rows-[9rem] sm:auto-rows-[10rem] lg:auto-rows-[16rem] gap-2.5 grid-cols-5"
  >
    {
      cardItems.map((cardItem) => (
        <Card className="group col-span-3 relative py-0 overflow-hidden first-of-type:col-span-2 last-of-type:col-span-2">
          <CardHeader className="relative z-[1] p-4 mt-auto dark:text-background transition">
            <CardTitle>{cardItem.title}</CardTitle>
            <CardDescription className="max-md:sr-only dark:text-muted">
              {cardItem.description}
            </CardDescription>
          </CardHeader>

          <figure class="absolute inset-0 group-hover:-translate-y-10 transition group-hover:scale-110 origin-center">
            <Image
              loading="lazy"
              alt="Now Page"
              src={cardItem.image}
              class="size-full object-cover object-top"
            />
          </figure>

          <div class="absolute inset-0 bg-gradient-to-t from-stone-50 via-stone-100" />
        </Card>
      ))
    }
  </div>
</section>
