<div
  class='fixed left-3/4 right-0 top-0 -z-10 hidden h-40 bg-gradient-to-bl from-primary to-background to-80% blur-[5.25rem] supports-[filter:blur(0)]:block'
>
</div>

<div
  class='fixed left-3/4 right-0 top-52 -z-10 hidden h-20 bg-gradient-to-bl from-violet-500 to-background to-80% blur-[5.25rem] supports-[filter:blur(0)]:block'
>
</div>
