---
import { RetroGrid } from "@/components/ui/retro-grid";
import { cn } from "@/lib/utils";
interface Props {
  description: string;
  className?: string;
}

let { description, className } = Astro.props;
---

<header
  class={cn("relative h-[calc(100vh-6rem)] pt-32 sm:pt-40 lg:pt-32", className)}
>
  <RetroGrid client:load />

  <div class="container-fluid relative z-[1]">
    <h1
      class="text-4xl leading-none sm:text-5xl lg:text-7xl font-bold text-balance"
    >
      <slot name="title" />
    </h1>

    <p class="lg:text-lg max-w-4xl py-4 lg:py-6">
      {description}
    </p>

    <slot />
  </div>
</header>
