---
import Container from './Container.astro';
import Link from './ui/Link.astro';
import { ThemeSwitch } from './ThemeSwitch';

let navbars = [
  { label: 'Home', href: '/' },
  { label: 'Now', href: '/now' },
];
---

<header>
  <Container className='flex h-16 items-center justify-between'>
    <nav class='inline-flex items-center gap-2.5'>
      {
        navbars.map((navItem) => (
          <Link
            href={navItem.href}
            title={`Navigate to ${navItem.label} page`}
            class='nav-item font-semibold transition hover:text-muted'
          >
            {navItem.label}
          </Link>
        ))
      }
    </nav>

    <ThemeSwitch client:load />
  </Container>
</header>

<script is:inline>
  let navItems = document.querySelectorAll('.nav-item');
  let url = new URL(window.location);

  if (navItems) {
    navItems.forEach((nav) => {
      let pathnameNavItem = nav.getAttribute('href');
      if (pathnameNavItem.endsWith(url.pathname)) {
        nav.classList.toggle('text-primary');
        nav.classList.toggle('hover:text-primary');
      }
    });
  }
</script>
