---
import { cn } from '@/lib/utils';
import Container from './Container.astro';
import Link from './ui/Link.astro';
import ThemeSwitch from './ThemeSwitch.astro';

let pathname = Astro.url.pathname;

let navbars = [
  { label: 'Home', href: '/' },
  { label: 'Now', href: '/now' },
];
---

<header>
  <Container className='flex h-16 items-center justify-between'>
    <nav class='inline-flex items-center gap-2.5'>
      {
        navbars.map((navItem) => (
          <Link
            href={navItem.href}
            class={cn('font-semibold', pathname === navItem.href && 'text-primary')}
          >
            {navItem.label}
          </Link>
        ))
      }
    </nav>

    <ThemeSwitch />
  </Container>
</header>
