<a
  href='#content'
  class='absolute left-1 top-1 inline-flex h-9 -translate-y-96 items-center justify-center rounded-xl bg-primary px-4 text-sm font-medium text-primary-foreground transition focus-visible:translate-y-0'
>
  Skip to content
</a>
