---
import Footer from '@/modules/common/footer.astro';
import Navbar from '@/modules/common/navbar.astro';
import { AstroFont } from 'astro-font';
import { SEO } from 'astro-seo';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>;

let { data } = Astro.props;
let title = data.title;
let description = data.description;
let keywords = data.keywords.join(', ');
---

<html lang='en' class='scroll-pt-16'>
  <head>
    <meta charset='utf-8' />
    <AstroFont
      config={[
        {
          name: 'Manrope',
          src: [],
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <SEO
      title={title}
      description={description}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.svg' }],
        meta: [
          { name: 'twitter:title', content: title },
          { name: 'twitter:description', content: description },
          { name: 'viewport', content: 'width=device-width' },
          { name: 'generator', content: Astro.generator },
          {
            name: 'keywords',
            content: keywords,
          },
          { name: 'author', content: data.author.id },
          { name: 'publisher', content: 'https://rimzzlabs.com' },
        ],
      }}
    />
  </head>

  <body>
    <Navbar />
    <main id='content'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
