---
import Footer from "@/components/footer/footer.astro";
import { DockNavigation } from "@/components/dock-navigation";
import ThemeWatcher from "@/components/theme-watcher.astro";
import { cn } from "@/lib/utils";
import { Toaster } from "@/components/ui/sonner";
import SkipButton from "@/components/skip-button.astro";
interface Props {
  scrollSmooth?: boolean;
}

let { scrollSmooth = false } = Astro.props;
---

<html class={cn(scrollSmooth ? "scroll-smooth" : undefined)} lang="en">
  <head>
    <meta charset="utf-8" />
    <slot name="metadata" />
  </head>
  <body>
    <ThemeWatcher />
    <SkipButton />
    <DockNavigation client:idle />
    <main id="main">
      <slot />
    </main>
    <Footer />
    <Toaster client:idle={{ timeout: 5000 }} />
  </body>
</html>
