---
import Footer from "@/components/footer/footer.astro";
import { DockNavigation } from "@/components/dock-navigation";
import ThemeWatcher from "@/components/theme-watcher.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <slot name="metadata" />
  </head>
  <body>
    <ThemeWatcher />
    <DockNavigation client:load />
    <slot />
    <Footer />
  </body>
</html>
