---
import Footer from "@/components/footer/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import ThemeWatcher from "@/components/theme-watcher.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <slot name="metadata" />
  </head>
  <body>
    <ThemeWatcher />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
