---
import Footer from '@/modules/common/footer.astro';
import Navbar from '@/modules/common/navbar.astro';
import '@/styles/global.css';
import { AstroFont } from 'astro-font';
import { SEO } from 'astro-seo';
import type { SEOProps } from 'astro-seo';
import { buildImageUrl } from 'cloudinary-build-url';

type Props = {
  title?: string;
  description?: string;
  openGraph?: SEOProps['openGraph'];
  keywords?: Array<string>;
  robots?: string;
  hideFooter?: boolean;
  hideNavbar?: boolean;
};

let defaultTitle = 'Rizki Maulana Citra - rimzzlabs';
let defaultDescription =
  'A dedicated Software Engineer and UI specialist. I create intuitive, smooth, and visually appealing user interfaces that engage and delight users.';
let defaultOpenGraphBasic = {
  image: buildImageUrl('rimzzlabs/og', {
    cloud: { cloudName: 'rizkicitra' },
    transformations: { quality: 100, format: 'webp' },
  }),
  title: 'rimzzlabs.com',
  type: 'website',
};

let defaultOpenGraph: SEOProps['openGraph'] = { basic: defaultOpenGraphBasic };
let defaultKeywords = [
  'rizki m citra',
  'rizki maulana citra',
  'rizki citra',
  'rimzzlabs',
  'rimzzlabs.com',
  'rimzzlabs website',
  'rimzzlabs posts',
  'rizkicitra',
  'rizkicitra.dev',
  'rizki developer',
  'rizki github',
  'rizki software engineer',
  'rizki citra frontend',
  'rizki m citra frontend developer',
  'frontend developer',
  'software engineer',
  'UI engineer',
];
let defaultRobots = 'index, follow';

let {
  hideNavbar,
  hideFooter,
  robots = defaultRobots,
  openGraph = defaultOpenGraph,
  title = defaultTitle,
  description = defaultDescription,
  keywords = defaultKeywords,
} = Astro.props;

let keywordsContent = keywords.join(',');
let pathname = Astro.url.pathname;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <AstroFont
      config={[
        {
          name: 'Manrope',
          src: [],
          googleFontsURL:
            'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
      ]}
    />
    <SEO
      title={title}
      description={description}
      openGraph={openGraph}
      twitter={{
        creator: '@rimzzlabs',
        site: 'rimzzlabs.com',
        description: description,
        image: openGraph.basic.image,
        imageAlt: openGraph.basic.title,
        title: openGraph.basic.title,
      }}
      extend={{
        link: [
          { rel: 'icon', href: '/favicon.svg' },
          { rel: 'sitemap', href: '/sitemap-index.xml' },
        ],
        meta: [
          { name: 'author', content: 'rimzzlabs.com' },
          { name: 'publisher', content: 'rimzzlabs.com' },
          {
            name: 'twitter:image',
            content: openGraph.basic.image,
          },
          { name: 'twitter:title', content: title },
          { name: 'twitter:description', content: description },
          { name: 'generator', content: Astro.generator },
          { name: 'keywords', content: keywordsContent },
          { name: 'robots', content: robots },
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1, minimum-scale=1, viewport-fit=cover',
          },
          {
            name: 'googlebot',
            content: 'index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1',
          },
        ],
      }}
    />
  </head>

  <body>
    {!hideNavbar && (pathname !== '/' ? <Navbar /> : null)}
    <slot />
    {!hideFooter && <Footer />}
  </body>
</html>
