<section
  class='flex flex-col md:flex-row items-center w-11/12 max-md:pt-10 pb-20 mx-auto max-w-5xl'
>
  <div>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>
      How Many <span title='Year of experience' class='cursor-help'>YOE</span> You Have?
    </h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <p class='text-neutral-400 font-medium'>
        Sometimes I asked that to myself too, beside my physical body is average or maybe below
        average.
      </p>

      <p class='text-neutral-400 font-medium'>
        I am pretty good at UI Engineering on the web, crafting UI that expect user to love is the
        most thing I like to do.
      </p>
      <p class='text-neutral-400 font-medium'>
        I believe user should have good experience on the web.
      </p>
    </div>
  </div>
</section>
