---
import { BackgroundBeams } from '@/components/ui/background-beams';
import { Pen, User } from 'lucide-astro';
import { Link } from '@/components/ui/link';
---

<section class='h-screen bg-neutral-950 relative flex items-center justify-center'>
  <div class='w-11/12 max-w-3xl mx-auto relative z-10 text-center'>
    <h1
      class='text-6xl pb-2 md:pb-4 lg:text-8xl 2xl:text-9xl font-bold text-transparent bg-clip-text bg-gradient-to-b from-neutral-100 to-neutral-800'
    >
      <span class='sr-only'>Rizki Maulana Citra -</span> rimzzzlabs<span class='sr-only'>.com</span>
    </h1>

    <p class='font-medium text-balance text-neutral-500 pb-4'>
      A dedicated Software Engineer and UI specialist. I create intuitive, smooth, and visually
      appealing user interfaces that engage and delight users.
    </p>

    <div class='flex items-center justify-center gap-2'>
      <Link
        variant='secondary'
        target='_blank'
        rel='noopener noreferrer'
        href='https://read.cv/rimzzlabs'
        title="Read Rizki's Resume"
        className='group max-md:order-2'
      >
        <User size='1rem' class='mr-1.5 shrink-0' />
        Resume
      </Link>

      <Link href='/blog' title="Rizki's Writings" variant='ghost' className='group'>
        <Pen size='0.975rem' class='mr-1.5 shrink-0' />
        Blog
      </Link>
    </div>
  </div>

  <BackgroundBeams client:idle />
</section>
