---
import { BackgroundBeams } from '@/components/ui/background-beams'
import { ReadCvButton } from './read-cv-button'
import { AboutMebutton } from './about-me-button'
---

<section class='h-screen bg-neutral-950 relative flex items-center justify-center'>
  <div class='w-11/12 max-w-3xl mx-auto relative z-10 text-center'>
    <h1
      class='text-5xl pb-2 md:pb-4 lg:text-7xl font-bold text-transparent bg-clip-text bg-gradient-to-b from-neutral-100 to-neutral-800'
    >
      <span class='sr-only'>Rizki Maulana Citra -</span> rimzzzlabs<span class='sr-only'>.com</span>
    </h1>

    <p class='font-medium text-balance text-neutral-500 pb-4'>
      A dedicated Software Engineer and UI specialist. I create intuitive, smooth, and visually
      appealing user interfaces that engage and delight users.
    </p>

    <div class='flex items-center justify-center gap-x-4'>
      <ReadCvButton />

      <AboutMebutton client:load />
    </div>
  </div>

  <BackgroundBeams client:idle />
</section>
