---
import { Delightful } from "@/components/delightful";
import { Button, ButtonLink } from "@/components/ui/button";
import { RetroGrid } from "@/components/ui/retro-grid";
import info from "@/configs/info.json";
import { ArrowRight, Sparkles } from "lucide-react";
---

<header class="relative h-[calc(100svh-14rem)] py-16 sm:py-28 lg:py-32">
  <div class="relative z-[1] container-fluid">
    <h1
      class="text-4xl leading-none sm:text-5xl lg:text-6xl 2xl:text-7xl font-bold text-balance"
    >
      <span class="sr-only">Rizki Citra or Rimzzlabs is a</span> Passionate Frontend
      Software Engineer. Crafting <Delightful client:load />
      User Interfaces.
    </h1>

    <p class="lg:text-lg font-medium max-w-4xl py-4 lg:py-6">
      Software engineering lets me create impactful, innovative solutions that
      align with my values and improve lives. It's structured, rewarding, and
      always evolving—keeping things exciting and full of growth.
    </p>

    <div class="inline-flex gap-2">
      {
        info.isAvailableForWork && (
          <Button className="relative w-36 h-9">
            <span class="absolute z-[1] rounded-md justify-center bg-primary inset-0.5 text-primary-foreground inline-flex items-center gap-2">
              Open to work <Sparkles />
            </span>
            <span class="absolute -inset-px bg-gradient-to-r from-orange-500 to-violet-500 animate-pulse rounded-lg" />
          </Button>
        )
      }

      <ButtonLink href="/now" variant="secondary" className="group">
        See what&apos;s new <ArrowRight
          className="group-hover:translate-x-1 transition"
        />
      </ButtonLink>
    </div>
  </div>

  <RetroGrid client:load />
</header>
