---
import { Link } from '@/components/ui/link';
import { Image } from 'astro:assets';
---

<section
  class='flex flex-col md:flex-row items-center w-11/12 max-md:pt-10 pb-20 mx-auto max-w-5xl'
>
  <figure class='max-lg:w-full p-4 md:p-0'>
    <Image
      width={512}
      height={480}
      loading='lazy'
      decoding='async'
      class='lg:mr-auto aspect-square object-cover rounded'
      src='https://res.cloudinary.com/rizkicitra/image/upload/v1729523738/rimzzlabs/me.jpg'
      alt='A potrait of Rizki'
      title='A potrait of Rizki'
    />
    <figcaption class='text-sm font-medium text-neutral-400 pt-2'>
      <em>A potrait of Rizki with his PC in the background</em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 md:pt-0 lg:pl-40'>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>About me</h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <p class='text-neutral-400 font-medium'>
        My name is Rizki Citra, you can call me <code
          class='bg-secondary text-secondary-foreground py-0.5 px-1 rounded'>Riz-ki or I-ki</code
        >. I am currently a citizen of <Link
          variant='link'
          target='_blank'
          rel='noopener noreferrer'
          href='https://bitwyre.com'
          className='p-0 w-auto h-auto text-inherit text-base underline'
          >Negara Kesatuan Republik Indonesia</Link
        > and I work as Software Engineer.
      </p>

      <p class='text-neutral-400 font-medium'>
        I learned that software engineering allows me to do meaningful work that is in line with my
        values. I could contribute with the same people to create a greater good to serve others.
      </p>

      <p class='text-neutral-400 font-medium'>
        Apart from my main job, I like to travel in search of nature, ride my motorbike, talk to my
        cat and sometimes read philosophical books.
      </p>
    </div>
  </div>
</section>
