---
import { Image } from 'astro:assets'
---

<section class='flex flex-col lg:h-screen lg:flex-row items-center w-11/12 pt-20 mx-auto max-w-5xl'>
  <figure class='max-lg:w-full'>
    <Image
      width={512}
      height={480}
      loading='lazy'
      decoding='async'
      class='lg:mr-auto h-80 w-full lg:w-96 md:h-auto object-cover rounded'
      src='https://res.cloudinary.com/rizkicitra/image/upload/v1717281198/mirror-selfie.jpg'
      alt='A mirror selfie of Rizki, wearing white shirt with sage green Jacket.'
      title='A mirror selfie of Rizki, wearing white shirt with sage green Jacket.'
    />
    <figcaption class='text-sm font-medium text-neutral-400 pt-2'>
      <em>A mirror selfie of Rizki, wearing white shirt with sage green Jacket.</em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 lg:pt-0 lg:pl-40'>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Journey - Continues</h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <p class='text-neutral-400 font-medium'>
        I am currently working at <a
          target='_blank'
          rel='noopener noreferrrer'
          href='https://bitwyre.com'
          class='border-b border-dashed border-neutral-300'>Bitwyre</a
        >, a Crypto Derivatives Exchange.
      </p>

      <p class='text-neutral-400 font-medium'>
        It is awesome place so far and the Colleagues are nice. Great team and productive workflow,
        I wish I can stay here for as long as I can.
      </p>

      <p class='text-neutral-400 font-medium'>
        I am progressively learning new things and keeping my self up to date with the latest trends
        of technology.
      </p>

      <p class='text-neutral-400 font-medium'>
        Thank you so much for reading my story til the end, I appreciate your time and efforts.
      </p>

      <p class='text-neutral-400 font-medium'>
        If you want to ask someting or just saying hello, please hit the <strong>
          &quot;Connect&quot;
        </strong> text at the end of every page. You will be redirected to my LinkedIn profile and can
        talk to me direcly.
      </p>
    </div>
  </div>
</section>
