---
import Pre from '@/components/pre.astro'
import { Image } from 'astro:assets'
---

<section class='flex flex-col lg:h-svh lg:flex-row items-center w-11/12 py-20 mx-auto max-w-5xl'>
  <figure class='max-lg:w-full'>
    <Image
      inferSize
      loading='lazy'
      decoding='async'
      class='lg:mr-auto h-80 w-full lg:w-96 md:h-auto object-cover rounded'
      src='https://res.cloudinary.com/rizkicitra/image/upload/v1717281198/mirror-selfie.jpg'
      alt='A mirror selfie of Rizki, wearing white shirt with sage green Jacket.'
      title='A mirror selfie of Rizki, wearing white shirt with sage green Jacket.'
    />
    <figcaption class='text-sm font-medium text-neutral-400 pt-2'>
      <em>A mirror selfie of Rizki, wearing white shirt with sage green Jacket.</em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 lg:pt-0 lg:pl-40'>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Journey - Part 1</h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <Pre>Now we talking about my journey for which I became today.</Pre>

      <p class='text-neutral-400 font-medium'>
        When I was a kid, I have dream to become a pilot, but things started to change when my
        father gave me a smartphone. I discovered my true dream.
      </p>

      <Pre>Who knew a country boy wanna become a pilot</Pre>

      <p class='text-neutral-400 font-medium'>
        After receiving my first smarthphone, I always wondered how the thing was made, -how is it
        possible that we can connect with people far from us. I was just a kid with curiosity back
        then. It turns out, because of lack of tools and stuff, I never reach the point where I can
        study and experiment with the hardware. But I have tried but nothing pops out.
      </p>

      <p class='text-neutral-400 font-medium'>
        So I just started over and started to learn programming, I was learning Java back then,
        which was also one of the courses of my class at my High School. It was awesome experience.
        Also the teacher is &quot;fine&quot; if you know what I mean.
      </p>

      <p class='text-neutral-400 font-medium'>
        She teaches me about basic programming like, loop, condition, class, function, even OOP.
      </p>
    </div>
  </div>
</section>
