---
import { Image } from 'astro:assets';
import { getCloudinaryImage } from '@/lib/utils';

let imgUrl = getCloudinaryImage('rimzzlabs/school-computer-laboratory');
let imgCaption = "A photo of computer desktop from my high school's computer laboratory";
---

<section class='flex flex-col lg:h-screen lg:flex-row items-center w-11/12 py-20 mx-auto max-w-5xl'>
  <figure class='max-lg:w-full'>
    <Image
      width={512}
      height={480}
      loading='lazy'
      decoding='async'
      class='lg:mr-auto h-80 w-full lg:w-96 md:h-auto object-cover rounded'
      src={imgUrl}
      alt={imgCaption}
      title={imgCaption}
    />
    <figcaption class='text-sm font-medium text-neutral-400 pt-2'>
      <em>{imgCaption}</em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 lg:pt-0 lg:pl-40'>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Journey - Part 1</h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <p class='text-neutral-400 font-medium'>
        When I was a kid, I have dreamed of becoming a pilot, but things started to change when my
        father gave me a smartphone.
      </p>

      <p class='text-neutral-400 font-medium'>
        After receiving my first smartphone, I always wondered how this thing was made, -how it was
        possible for us to connect with people far away from us
      </p>

      <div class='text-neutral-400 font-medium'>
        It turns out, because of lack of tools and money, I never reach the point where I can study
        and experiment with the hardware.
      </div>

      <p class='text-neutral-400 font-medium'>
        So I just started over and started learing programming, I was learning Java back then, which
        was also one of the courses of my class at my high school. It was awesome experience. She
        teaches me about basic programming like, loop, condition, class, function, even OOP.
      </p>

      <p class='text-neutral-400 font-medium'>
        Fun fact, most of the female teachers are <em>&quot;fine&quot;</em> IYKWIM.
      </p>
    </div>
  </div>
</section>
