---
import { JourneyTimeline } from './journey-timeline/journey-timeline'
---

<section class="py-10 container-fluid relative">
  <div class="max-w-2xl text-balance">
    <h2 class="text-3xl text-balance font-bold sm:text-4xl lg:text-5xl">
      My Journey in Software Engineering
    </h2>

    <p class="text-sm sm:text-base font-medium pt-2">
      I started my software engineering journey in 2021, and ever since, I've
      been passionate about creating meaningful work. But there's more to
      recall.
    </p>
  </div>

  <div class="relative">
    <JourneyTimeline client:visible />
  </div>
</section>
