---
import { Image } from 'astro:assets';
---

<section class='w-11/12 max-md:pt-10 pb-20 mx-auto max-w-5xl'>
  <div class='flex flex-col md:flex-row items-center'>
    <Image
      loading='lazy'
      src='/language.gif'
      class='size-96 shrink-0 grow-0'
      width={500}
      height={500}
      alt='Person looking at the phone'
    />

    <div class='w-full pt-6 sm:pt-8 md:pt-0 lg:pl-40 pb-6 md:pb-10'>
      <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Programming Language I Learn</h2>

      <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
        <p class='text-neutral-400 font-medium'>
          I enjoy tackling complex problems and finding effective solutions. It's rewarding to break
          down challenges and see the tangible results of my work.
        </p>

        <p class='text-neutral-400 font-medium'>
          Software development allows for creativity. There's room to innovate and think outside the
          box.
        </p>
        <p class='text-neutral-400 font-medium'>
          Building software that improves lives or simplifies processes is rewarding. Knowing my
          work can have an impact keeps me motivated. The technology field is moving fast, so
          there's always something new to learn. This growth keeps things interesting.
        </p>
      </div>
    </div>
  </div>

  <h3 class='text-2xl pb-6 md:pb-8 font-bold 2xl:text-3xl text-balance'>
    Don&apos;t Jump to Framework
  </h3>

  <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
    <p class='text-neutral-400 font-medium'>
      You can always believe in yourself, wether it&apos;s a solid fo
    </p>

    <p class='text-neutral-400 font-medium'>
      The term <strong>&quot;software engineering&quot;</strong> was coined in the <strong
        >1960s</strong
      > during a <strong>NATO</strong> conference to emphasize the need for more organized approaches
      as early programming languages such as <strong>FORTRAN</strong> and <strong>COBOL</strong> were
      developed.
    </p>

    <p class='text-neutral-400 font-medium'>
      Today, software engineering continues to evolve with trends such as machine learning,
      artificial intelligence, and the growing importance of security and ethical considerations in
      software development.
    </p>
  </div>
</section>
