---
import { cn } from '@/lib/utils';
import type { AnchorHTMLAttributes } from 'react';

type Props = astroHTML.JSX.AnchorHTMLAttributes;

let props = Astro.props;
---

<a
  {...props}
  class={cn('font-medium leading-none transition underline decoration-primary', props.class)}
  target='_blank'
  rel='noopener'
>
  <slot />
</a>
